.compl-label-check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 44px;
    height: 20px;
    background-color: rgb(111, 111, 228);
    border-radius: 6px;
}

.compl-label-check input {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
}

.compl-label-check:hover {
    background-color: rgba(111, 111, 228, 0.801);
}

.compl-label-check span {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    margin-left: 4px;
    transition: transform 0.3s;
}

.compl-label-check input[type='checkbox']:checked + span {
    transform: translateX(22px);
}