.container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 30px;
    background-color: blanchedalmond;
    z-index: 5;
}

.left-section, .middle-section, .right-section {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    height: 100%;
    background-color: inherit;
    opacity: 0.8;
    transition: background-color 0.15s;
    padding: 0px 5px;
}

.left-section:hover, .middle-section:hover, .right-section:hover {
    opacity: 1;
}



.left-section {
    width: fit-content;
    flex-shrink: 0;
}

.left-section img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.left-section p {
    font-size: 16px;
    color: rgb(92, 92, 92);
    font-weight: 500;
}

.middle-section {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
}

.middle-section p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    width: fit-content;
    padding: 2px 2px;
}

.add-todo-btn {
    padding: 6px 15px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(31, 31, 31);
    color: white;
    opacity: 0.8;
    transition: padding 0.15s, opacity 0.15s;
}

.add-todo-btn:hover {
    padding: 8px 18px;
    opacity: 1;
    cursor: pointer;
}

.add-todo-btn:disabled {
    cursor: not-allowed;
}

.right-section {
    width: fit-content;
}

.right-section img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.sign-btn {
    background-color: rgb(9, 170, 9);
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 16px;
    transition: text-decoration 0.15s;
    margin-right: 10px;
}

.sign-btn:hover {
    cursor: pointer;
    text-decoration: underline;
} 

